{% extends "layout.html" %}

{% block content %}
    {% if error %}
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{url_for('show_quizzes_to_student',class_id = quiz.class_code)}}" role="button">Back to quizzes page</a><br>
            <div class="jumbotron" style="text-align:center" >
                <h3>{{error}}</h3><br><br>
                <h3>Cannot try again !</h3>
            </div>  
        </p>
    {% endif %}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-8">
    {% if questions_data %}
    <ul class="list-group mt-0 justify-content-between align-items-end">
        <li class="list-group-item d-flex">
            <b>Time &emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</b>
        </li>
        <li class="list-group-item d-flex" >
            {% if quiz %}
                <h3>{{quiz.quiz_time}}&emsp;&emsp;&emsp;</h3>
            {% endif %}
        </li> 
    </ul>
    <div class="row align-items-start ">
            {% for data in questions_data %} 
        <div class="col-md-10">
            <div class="row jumbotron" id="question-list">
            <div class="col-md-12 question mb-4">
                <div class="row">
                <div class="mb-3 col-md-12">
                    <label for="exampleFormControlTextarea1" class="form-label"><h3> <b>{{loop.index}})</b> &nbsp;{{data.question}}</h3></label>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <form action="" method="post" name="send_answer">
                    <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group">

                        <input type="radio" class="btn-check" name="btnradio-{{loop.index}}" id="A" value="A">
                        <label class="btn btn-outline-primary" > &nbsp; &nbsp;<b>A</b>: &nbsp; {{data.a}} </label>
                    
                        <input type="radio" class="btn-check" name="btnradio-{{loop.index}}" id="B" value="B">
                        <label class="btn btn-outline-primary" > &nbsp; &nbsp;<b>B</b>:  &nbsp; {{data.b}}</label>
                    
                        <input type="radio" class="btn-check" name="btnradio-{{loop.index}}" id="C" value="C">
                        <label class="btn btn-outline-primary" > &nbsp; &nbsp;<b>C</b>:  &nbsp;  {{data.c}}</label>
            
                        <input type="radio" class="btn-check" name="btnradio-{{loop.index}}" id="D" value="D">
                        <label class="btn btn-outline-primary" > &nbsp; &nbsp;<b>D</b>:  &nbsp;  {{data.d}}</label>

                        <input type="hidden" class="btn-check" name="btnradio-{{loop.index}}" id="empty" value="empty" checked>
                    </div> 
                </div>
            </div>
            </div>
        </div> 
        {% endfor %}
        <div class="col-md-2 align-self-end">
            <ul class="list-group mt-2 ">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>Time</b>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% if quiz %}
                        <h3>{{quiz.quiz_time}}</h3>
                    {% endif %}
                </li>
                <li> <br>
                    <div class="control" >
                        <button method = "POST" type="submit" class="btn btn-primary">Finish the quiz</button>
                    </div>
                </li> <br>

            </ul>
        </div>
        {% endif%}

    </form>
        <script type="text/javascript">
            var deger;
            var saniye=quiz.quiz_time;
            function saniyeDurdur()
              {
                window.clearInterval(deger);
              }
            function saniyeBaslat()
            {
                saniye --;
                if(saniye >=0){
                    document.getElementById('saniye').innerHTML=saniye;
                }else{
                    window.clearInterval(deger);
                    document.getElementById('uyari').innerHTML="Time is up!";		
                }
            }
            var deger=window.setInterval('saniyeBaslat()',1000);
            </script>
            <div id="saniye"></div>
            <div id="uyari"></div>
    </div>
</main>
{% endblock %}
